.form {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
  background-color: #fcecdd;
  border: 0.5rem solid #494343;

  .form__heading {
    font-size: 2rem;
    margin-bottom: 0.3125rem;
  }
}
